<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= link_to sanitize("&larr; Back to products"),root_path %>
    <div  class="card mb-2 mt-2">
      <div class="card-body p-2">
        <h5><%= link_to "Users list", admin_users_path %> / Products list</h5>

        
        <div class="mb-2">
        
          <%=link_to "New product", new_admin_product_path, class:"btn btn-success"%>
        
        </div>
     
       
 
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @products.sort{|a,b| b.created_at <=> a.created_at}.each do |product| %>
                <tr>
                  <th scope="row"><%= link_to product.id, admin_product_path(product) %></th>
                  <td><%= product.name%></td>
                  <td>$<%= product.price %></td>
                  <td>
                    <%= link_to "Edit", edit_admin_product_path(product) %>
                    /
                    <%= link_to "Destroy", admin_product_path(product), data: {
                                                                  turbo_method: :delete,
                                                                  turbo_confirm: "Are you sure?"
                                                                } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>
