<%= turbo_stream_from "products" %>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= link_to sanitize("&larr; Back to products"),root_path %>
    <div  class="card mb-2 mt-2">
      <div class="card-body p-2">
        <h5><%= link_to "Users list", admin_users_path %> / Products list</h5>

        <div class="mb-2">
          <%=link_to "New product", new_admin_product_path, class:"btn btn-success", data: { turbo_frame: dom_id(Product.new) }%>
        </div>
     
        <%= turbo_frame_tag Product.new %>

        <%= turbo_frame_tag "products" do %>
          <%= render @products %>
        <% end %>

      </div>
    </div>
  </div>
</div>