<div class="row">
  <div class="col-md-8 offset-md-2">
  <%= link_to sanitize("&larr; Back to products"),root_path %>
    <div  class="card mb-2 mt-2">
      <div class="card-body p-2">
        <h5>Users list / <%= link_to "Products list", admin_products_path %></h5> 

        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Is_admin?</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @users.sort{|a,b| b.created_at <=> a.created_at}.each do |user| %>
                <tr>
                  <th scope="row"><%= link_to user.id, admin_user_path(user) %></th>
                  <td><%= user.email%></td>
                  <td><%= user.admin? %></td>
                  <td>
                    <%= link_to "Edit", edit_admin_user_path(user) %>
                    /
                    <%= link_to "Destroy", admin_user_path(user), data: {
                                                                  turbo_method: :delete,
                                                                  turbo_confirm: "Are you sure?"
                                                                } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>
</div>