<div id="<%= dom_id product %>">

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <% if user_signed_in? %>
  <%= form_with(url: cart_add_remove_product_path) do |f| %>
    <%= f.hidden_field :id, value: product.id %>
    <% if @cart.orderables.find_by(product_id: product.id) %>
      <%= f.submit "Remove to cart" %>
    <%else%>
      <%= f.submit "Add to cart" %>
    <% end %>
  <% end %>
  <% end %>
 
</div>