<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
  <%=link_to root_path do %>
    <i class="navbar-brand fa-solid fa-paw text-primary"></i>
  <%end%>



    <div class="d-flex align-items-center">
    
      <% if user_signed_in? %>
        <%= link_to @cart, class:"text-reset me-2" do %>
          <i class="fa-solid fa-cart-shopping text-primary"></i>
        <% end %>
        
        <%= link_to orders_path, class:"text-reset me-2", data: { turbo_frame: "_top" } do %>
          <i class="fa-solid fa-file-invoice-dollar text-primary"></i>
        <% end %>

        <span class="me-2">#Hi, <%= current_user.name %> !</span>
        <span class="me-2">/</span>
        <%= link_to "Sign out", destroy_user_session_path, data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?",
                                class:"me-2"
                              } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class:"me-2"%> 
        <span class="me-2">/</span>
        <%= link_to "Sign up", new_user_registration_path, class:"me-2"%>
      <% end %>  
     
    </div>
  </div>
</nav>