<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
  <%=link_to root_path do %>
    <i class="navbar-brand fa-solid fa-paw text-primary"></i>
  <%end%>



  



    <div class="align-self-center">
    
      <% if user_signed_in? %>
        #Hi, <%= current_user.name %> !
        <%= link_to @cart do %>
          <i class="fa-solid fa-cart-shopping"></i>
        <% end %>
        | 
        <%= link_to orders_path do %>
          <i class="fa-solid fa-file-invoice-dollar"></i>
        <% end %>
        /
        <%= link_to "Sign out", destroy_user_session_path, data: {
                                turbo_method: :delete,
                                turbo_confirm: "Are you sure?"
                              } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
        /
        <%= link_to "Sign up", new_user_registration_path %>
      <% end %>  
     
    </div>
  </div>
</nav>